<h1>Search#search</h1>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
if(navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
    var latitude = position.coords.latitude;
    console.log('緯度：');
    console.log(latitude);
    var longitude = position.coords.longitude;
    console.log('経度：');
    console.log(longitude);
    //$.ajax({
    //  url: "shops",
    //  type: "GET",
    //  data: {
    //    latitude: latitude,
    //    longitude: longitude,
    //  },
    //  dataType: "json",
    //  success: function(response) {
    //    console.log(response); // サーバーから返された店舗情報を確認
    //    console.log('success')
    //    // サーバーから返された店舗情報をHTMLに反映
    //    var shopsHtml = "";
    //    console.log(response)
    //     response.forEach(function(shop) {
    //       shopsHtml += "<div><h2>" + shop.name + "</h2>";
    //       shopsHtml += "<p>" + shop.address + "</p>";
    //       // shopsHtml += "<p>" + shop.tel + "</p></div>";
    //     });
    //     $("#shops-list").html(shopsHtml);
    //  },
    //  error: function(error) {
    //    console.log(error); // エラーが発生した場合はコンソールにログを出力
    //  }
    //});
  });
}
</script>

<%= form_tag(shops_path, method: :get) do %>
    <%= hidden_field_tag :latitude, @latitude %>
    <%= hidden_field_tag :longitude, @longitude %>
    <div class="form-group">
      <%= label_tag :range, '検索範囲（km）' %>
      <%= number_field_tag :range, 5, min: 1, max: 50, step: 1, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :food, 'キーワード' %>
      <%= text_field_tag :food, nil, class: 'form-control' %>
    </div>
    <%= submit_tag '検索', class: 'btn btn-primary' %>
  <% end %>