<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<form id="location-form" action="/shops" method="GET">
  <input type="hidden" name="latitude" id="latitude" value="">
  <input type="hidden" name="longitude" id="longitude" value="">
  <button type="submit">検索</button>
</form>

<!-- 現在地を取得するJavaScript -->
<script>
navigator.geolocation.getCurrentPosition(function(position) {
  // 緯度・経度を取得
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;
  console.log(latitude, longitude);

  // フォームに緯度・経度を設定してsubmit
  var form = document.getElementById('location-form');
  form.querySelector('#latitude').value = latitude;
  form.querySelector('#longitude').value = longitude;
});
</script>

<script>
  // submitボタンがクリックされたときにフォームをsubmitする
  document.getElementById('search-button').addEventListener('click', function() {
    document.getElementById('location-form').submit();
  });
</script>



<h1>さがしてmeal</h1>

<p>現在の緯度: <%= @latitude %></p>
<p>現在の経度: <%= @longitude %></p>

<div id="shops-list">
  <% @shops.each do |shop| %>
    <div>
      <h4><%= shop['name'] %></h4>
      <p><%= shop['address'] %></p>
      <p><%= shop['name_kana'] %></p>
      <p><%= shop['logo_image'] %></p>
    </div>
  <% end %>
</div>